@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    max-width: 900px;
    margin: auto;
    background-color: #EFEFEF;
}

#countryForm{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 10px;
}

.icon-fullscreen{
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

.btn-fullscreen{
    height: 40px;
    width: 40px;
}
:fullscreen, ::backdrop {
    background-color: #EFEFEF;
}

#cerrar-ventana{
    font-family: "Chivo Mono";
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.tooltip-bg{
    background-color: white;
    border: 1px solid black;
    /* padding: 5px 0; */
    text-align: left;
}

.tooltip-year{
    font-size: 16px;
    font-family: "Chivo Mono";
    text-align: center;
    margin: auto;
}

.pais-detalle{
    font-family: 'Chivo';
    font-size: 16px;
    vertical-align: middle;
}



.punto-tooltip{
    font-size: 25px;
    vertical-align: middle;
    margin: auto;
}

#cerrar-ventana:hover, .btn-eliminar:hover{
    background-color: black;
    color: white;
    transition: hover 0.5s ease;
}

.logo-img{
    width: 60px;
    margin: 10px 30px 10px 0;
}

.chart-container{
    /* max-width: 800px;
    margin: auto; */
    width: 100%;
    height: 600px;
    transition: width 0.5s ease;
    position: relative;
}

.chart-title{
    font-size:22px;
    font-family: "Chivo Mono";
    font-weight: 400;
    margin-top: 0;
}

.intro-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 40px;
}

.checkbox-pais{
    appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid #333;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      transition: black 0.3s ease;
}

.checkbox-pais:checked{
    background-color: black;
}

.chart-bajada{
    font-family: "Chivo";
    font-weight: 400;
    line-height: 1.2;
    font-size: 17px;
}

.fuente-txt, .aclaracion-txt{
    font-family: "Chivo Mono";
    font-size: 16px;
    margin: 20px 0;
}

input[type="checkbox"]{
    margin-right: 20px;
}

.separador{
    border-bottom: 1px solid black;
    margin: 30px 0;
}

.opciones-chart-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 30px;
    position: relative;
}

.btn-descarga, .btn-compartir, .btn-seleccion-paises, .btn-eliminar{
    border-radius: 20px;
    font-family: "Chivo Mono";
    font-weight: 400;
    font-size: 17px;
    padding: 5px 20px;
    margin: 5px 30px;
    cursor: pointer;
  
}

.btn-descarga:hover, .btn-compartir:hover, .btn-fullscreen:hover{
    background-color: #E4E6E6;
}

.btn-seleccion-paises:hover{
    background-color: #d4dfdf;
}

.options-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search-bar{
    width: 50%;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-family: "Chivo Mono";
    font-size: 16px;
    padding-left: 20px;
}

#eliminar-seleccion{
    margin-right: 40px;
}
#search-bar::placeholder{
    color: white;
    font-family: "Chivo Mono";
    padding-left: 20px;
}

.selector-paises-container{
    position: absolute;
    left: 0;
    top: 0; 
    width: 100%;
    height: 550px;
    background-color: white;
    overflow-y: scroll;
    padding: 30px 20px;
    display: none;
    z-index: 1000;
    border: 1px solid black;
}

label{
    font-family: "Chivo Mono";
    font-size: 18px;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn-seleccion-paises{
    background-color: #ABBABA;
    /* background-color: red; */
}

.btn-descarga, .btn-compartir{
  background-color: #ffffff;
}

.wide-screen.full-width {
    height: 100vh;
    width: auto;
}

.btn-fullscreen{
    border-radius: 50px;
    background-color: #ffffff;
    cursor: pointer;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

.country-selector-container{
    position: relative;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    margin: 0 10px;
    height: 90%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

@media(max-width: 500px){
    body{
        margin: 20px;
    }

    .opciones-chart-container{
        flex-direction: column-reverse;
    }

    .country-selector-container{
        margin-top: 20px;
    
    }

    /* .buttons-container{
        margin-right: 0px;
    } */

    .logo-img{
        margin: 20px 0;
    }

    .intro-container{
        flex-direction: column;
    }

    .brn-descarga, .btn-compartir, .btn-fullscreen{
        margin: 5px;
    }

    .options-container{
        flex-direction: column-reverse;
        align-items: center;
    }

    #search-bar{
        width: 100%;
        height: 30px;
    }

    label{
        font-size: 12px;
    }

    #countryForm{
        grid-template-columns: repeat(2,1fr);
    }

    .selector-paises-container{
        padding: 0;
    }
}